# racine
/*.c
/*.h
/CMakeLists.txt
/Doxyfile

# Android
Android/assets/
Android/jni/
Android/res/
Android/src/
Android/*.xml
Android/*.sh

# Images
Images/

# Text
Text/*.png
Text/arial.ttf
Text/Testing/
Text/CMakeFiles/

# Web
Web/src/*.c
Web/src/*.h
