# racine
/*.c
/*.h
/CMakeLists.txt
/Doxyfile

# Android
Android/assets/
Android/jni/
Android/res/
Android/src/
Android/*.xml
Android/*.sh


# Text
Text/*.png
Text/arial.ttf
Text/Testing/
Text/CMakeFiles/
Text/Makefile
Text/*.cmake
Text/*.txt 
Text/*.tcl
Text/*.a

# Web
Web/src/*.c
Web/src/*.h
